{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <h2>tip n’ tell, it’s a user based app for students, which helps report issues to their school administration.
This is completely confidential, other students can see who posted what. This empowers students by giving them a voice, a way to affect their environments in a positive way. It helps students have more trust in each other, and school administrators. As well as lower the cases of hate, discrimination, and bigotry in school. This helps to create a safer community for students to learn in.
</h2>
{% endblock content %}
